
/* body information of html goes in this section */

  body {
    padding: 0px 0px 300px 0px;

    /* background-color: #f876de;
    background-image: linear-gradient(315deg, #f876de 0%, #b9d1eb 74%); */

    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

/* that pop-it as a whole is worked on here */

.pop-it {
    /* padding-top: 50px;  */
    border-radius: 10px;
    border: solid black 0.5px 10px;
    /* height: 100px;
    width: 100px; */
    margin: auto;
    background-color: #FFDBFF;
    background-image: linear-gradient(315deg, #FFDBFF 25%, #7ee8fa 65%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 30px, rgba(0, 0, 0, 0.30) 20px 20px 30px;
}

/* this is where the poppers of the pop-it are styled */

.button {
    background-color: #FFBCD9;
    box-shadow: inset 0px 0px 8px #000000;
    transform: translateY(1.5px);
    width: 30px;
    border-radius: 50%;
    height: 30px;
}


.button_disabled {
    background-color: #FFBCD9;
    box-shadow: inset 0px 0px 8px #000000;
    /* transform: translateY(1.5px); */
    width: 100%;
    border-radius: 50%;
    height: 100%;
    outline: none;
    display: none;
}

.button_active {
    background-color: #FFBCD9;
    border: solid black 0.5px;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    outline: none;
}

th, td {
    text-align: center;
    border: solid black 0.5px;
}

/* this styles the navigation bar */

.topnav {
    overflow: hidden;
    background-color: #098EDA;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 28px;
    font-family: 'Gorditas';
    font-weight: 400;
}

.topnav a:hover {
    background-color: #FFDDF4;
    color: white;
    -webkit-text-stroke: .75px #23430C;
    
}

.topnav a.menu-active {
    background-color: #066EAD;
    color: white;
}

#select_your_category {
  color: #0C9BBD;
  font-family: 'Gorditas';
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  border: solid black 0.5px 10px;
}

#select_your_pattern {
  color: #2FBDBD;
  font-family: 'Gorditas';
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  border: solid black 0.5px 10px;
}

#select_your_pp_size {
  color: #90DCD0;
  font-family: 'Gorditas';
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  border: solid black 0.5px 10px;
}

#select_your_award_theme {
  color: #FDC2EB;
  font-family: 'Gorditas';
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  border: solid black 0.5px 10px;
}

p {
  color:  #ffb700;
  font-family: 'Gorditas';
  font-weight: 400;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 22px;
  text-shadow: 0px 1px 1px #282828;
}


/* this is for the tile */

#game_title {
  margin-top: 5px;
  text-align: center;
  font-family: 'Modak';
  font-size: 45px;
  animation: colorchange 5s infinite normal;
	-webkit-text-stroke: .65px #282828;
	text-shadow: 0px 4px 4px #282828;

}

@keyframes colorchange{	
	0%{
	color: #ff6698;
	}
	25%{
	color: #ffb366;
	}
	50%{
	color: #ffff66;
	}
	75%{
	color: 	#98ff66;
	}
	100%{
	color: lightblue;
	}
	}

/* the games about page */

#game_about {
    text-align: center;
}
.about p {
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

.about h1 {
  font-family: 'Acme';
  color:  #ffee00d2;
  text-shadow: 0px 2px 2px #282828;
}

.about h2 {
  font-family: 'Acme';
  color: #ffee00d2;;
  text-shadow: 0px 2px 2px #282828;
}

.about h3 {
  font-family: 'Acme';
  color:  #ffee00d2;
  text-shadow: 0px 2px 2px #282828;
}

.about b {
  font-weight: bold;
}

/* this is for the game play stuatus bar in the start */

a#curr_pops.status_label {
  float: center;
  color: lightskyblue;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 23px;
  font-family: 'Gorditas';
  font-weight: 400;
  
}

a#curr_pops_val.status_value {
  float: center;
  color: lightskyblue;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 23px;
  font-family: 'Gorditas';
  font-weight: 400;
}

a#num_to_pop.status_label {
  float: center;
  color: #90DCD0;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 23px;
  font-family: 'Gorditas';
  font-weight: 400;
}

a#num_to_pop_val.status_value {
  float: center;
  color: #90DCD0;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 23px;
  font-family: 'Gorditas';
  font-weight: 400;
}

a#curr_time.status_label {
  float: center;
  color: #FDC2EB;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 23px;
  font-family: 'Gorditas';
  font-weight: 400;
}

a#curr_time_value.status_value {
  float: center;
  color: #FDC2EB;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 23px;
  font-family: 'Gorditas';
  font-weight: 400;
}

.status-nav {
  overflow: hidden;
  background-color: #098EDA;
}

.status-nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 28px;
  font-family: 'Gorditas';
  font-weight: 400;
}





