/* put a smackin css page in this page*/ 


  body {
    /* margin: 85px; */
    padding: 25px 10px 150px;

    /* background-color: #f876de;
    background-image: linear-gradient(315deg, #f876de 0%, #b9d1eb 74%); */

    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.pop-it {
    /* padding: 25px 50px 75px 100px; */
    /* padding-left: 50px; */ 
    border-radius: 10px;
    border: solid black 0.5px 10px;
    /* height: 300px; */
    /* width: 200px; */
    margin: auto;

    /* background-color: #f876de;
    background-image: linear-gradient(315deg, #f876de 0%, #b9d1eb 74%); */

    background-color: #FFDBFF;
    background-image: linear-gradient(315deg, #FFDBFF 25%, #7ee8fa 65%);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 30px, rgba(0, 0, 0, 0.30) 20px 20px 30px;
}

.button {
    background-color: #FFBCD9;
    box-shadow: inset 0px 0px 8px #000000;
    transform: translateY(1.5px);
    width: 30px;
    border-radius: 50%;
    height: 30px;
    outline: none;
}


.button_disabled {
    background-color: #FFBCD9;
    box-shadow: inset 0px 0px 8px #000000;
    /* transform: translateY(1.5px); */
    width: 100%;
    border-radius: 50%;
    height: 100%;
    outline: none;
    display: none;
}

.button_active {
    background-color: #FFBCD9;
    border: solid black 0.5px;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    outline: none;
}

th, td {
    text-align: center;
    border: solid black 0.5px;
}